<p>searchadmin works!</p>
<div style="margin-top: 30px;">
    <table>
        <th>Enter Id to search</th>
        <tr>
            <td>AdminUsername</td>
            <td>
                <input type="text" name="" id="" [(ngModel)]="item.adminusername">
            </td>
        </tr>
        <tr>
            <td>AdminPassword</td>
            <td>
                <input type="text" name="" id="" [(ngModel)]="item.adminpassword">
            </td>
        </tr>
        <tr>
            <td>Adminarea</td>
            <td>
                <input type="text" name="" id="" [(ngModel)]="item.adminarea">
            </td>
        </tr>
        <tr>
            <td>Admincity</td>
            <td>
                <input type="number" name="" id="" [(ngModel)]="item.admincity">
            </td>
        </tr>
        <tr>
            <td>Pincode</td>
            <td>
                <input type="text" name="" id="" [(ngModel)]="item.pincode">
            </td>
        <tr>
            <td colspan=1></td>
            <button on-click="Search()">Search</button>
        </tr>
    </table>
</div>