<div style="margin-top: 30px;">
    <table>
        <th>enter ServiceCategories details </th>
        <tr>
            <td>ServiceCategoryId</td>
            <td>
                <input type="number" name="" id="" [(ngModel)]="item.serviceid">
            </td>
        </tr>
        <tr>
            <td>ServiceMail</td>
            <td>
                <input type="text" name="" id="" [(ngModel)]="item.servicemail">
            </td>
        </tr>
        <tr>
            <td>ServiceType</td>
            <td>
                <input type="text" name="" id="" [(ngModel)]="item.servicetype">
            </td>
        </tr>
        <tr>
            <td>ServiceContactNum</td>
            <td>
                <input type="number" name="" id="" [(ngModel)]="item.servicecontactnum">
            </td>
        </tr>
        <tr>
            <td>ServiceAddress</td>
            <td>
                <input type="text" name="" id="" [(ngModel)]="item.serviceaddress">
            </td>
        </tr>
        <tr>
            <td colspan=1></td>
            <button on-click="Edit()">Update</button>
        </tr>
    </table>
</div>