<div class="container" style="margin-top:20px;">
    <table>  
        <th>Available Admin details: </th></table>
       
        
           <table border="2" [cellPadding]="10" >
        <tr>
            <th>Ad</th>
            <th>AdminUsername</th>
            <th>Password</th>
            <th>AdminArea</th>
            <th>AdminCity</th>
            <th>AdminPincode</th>
        </tr>
        <tr *ngFor="let item of Admin">
            <td>{{item.adminusername}} </td>
            <td>{{item.adminpassword}}</td>
            <td>{{item.adminarea}}</td>
            <td>{{item.admincity}}</td>
            <td>{{item.adminpincode}}</td>
             <td> <button (click)="DeleteAdmin(item.adminusername)">Delete</button></td>
        </tr>
    </table>
</div>