<div class="container" style="margin-top:20px">
    <table border="1">
        <th>Enter below details to add ServiceBooking:</th>
        <br>
        <br>
         <tr >
            <td>ServiceId</td>
            <td> <input type="number" name="" id="" [(ngModel)]="item.serviceid"> </td>
         </tr>
        <tr>
            <td>ServiceBookingItemNum</td>
            <td> <input type="text" name="" id="" [(ngModel)]="item.serviceitemnum"> </td>
        </tr>
        <tr>
            <td>ServiceBookingAddress</td>
            <td> <input type="text" name="" id="" [(ngModel)]="item.servicebookingaddress"> </td>
        </tr>
        <tr>
           <td>ServiceBookingDate</td>
            <td> <input type="number" name="" id="" [(ngModel)]="item.servicebookingdate"> </td>
        </tr>
        <tr>
           <td>ServiceBookingContactNum</td>
           <td> <input type="number" name="" id="" [(ngModel)]="item.servicecontactnum"> </td>
        </tr>
        <tr>  
           <td>ServiceBookingPaymentType</td>
           <td> <input type="text" name="" id="" [(ngModel)]="item.servicepaymenttype"> </td>
        </tr>
        <tr>
            <td colspan="2">
                <button on-click="Save()">Save</button>     
            
            
        </tr>
    </table>
</div>