<div class="container" style="margin-top:20px;">
    <table>  
        <th>Available customer details: </th></table>
       
        
           <table border="2" [cellPadding]="10" >
        <tr>
            <th>CustomerID</th>
            <th>CustomerName</th>
            <th>CustomerAddress</th>
            <th>CustomerCity</th>
            <th>CustomerState</th>
            <th>CustomerZipcode</th>
            <th>CustomerRating</th>
            <th>CustomerReview</th>
        </tr>

        <tr *ngFor="let item of customers">
            <td>{{item.customerId}} </td>
            <td>{{item.customerName}}</td>
            <td>{{item.address}}</td>
            <td>{{item.city}}</td>
            <td>{{item.state}}</td>
            <td>{{item.zipCode}}</td>
            <td>{{item.customerRating}}</td>
            <td>{{item.customerReview}}</td>
             <td> <button (click)="DeleteCustomer(item.customerId)">Delete</button></td>
        </tr>
    </table>
</div>
