<div style="margin-top: 30px;">
    <table>
        <th>Enter customer details </th>
        <tr>
            <td>CustomerID</td>
            <td>
                <input type="number" name="" id="" [(ngModel)]="item.customerId">
            </td>
        </tr>
        <tr>
            <td>CustomerName</td>
            <td>
                <input type="text" name="" id="" [(ngModel)]="item.customerName">
            </td>
        </tr>
        <tr>
            <td>Address</td>
            <td>
                <input type="text" name="" id="" [(ngModel)]="item.address">
            </td>
        </tr>
        <tr>
            <td>City</td>
            <td>
                <input type="text" name="" id="" [(ngModel)]="item.city">
            </td>
        </tr>
        <tr>
            <td>state</td>
            <td>
                <input type="number" name="" id="" [(ngModel)]="item.state">
            </td>
        </tr>
        <tr>
            <td>Zipcode</td>
            <td>
                <input type="text" name="" id="" [(ngModel)]="item.zipCode">
            </td>
        </tr>
        <tr>
            <td colspan=1></td>
            <button on-click="Edit()">Update</button>
        </tr>
    </table>
</div>

