
<div style="margin-top: 30px;">
    <table>
        <th>Enter ServiceAuthentication details </th>
        <tr>
            <td>ServiceID</td>
            <td>
                <input type="number" name="" id="" [(ngModel)]="item.serviceid">
            </td>
        </tr>
        <tr>
            <td>serviceauthusername</td>
            <td>
                <input type="text" name="" id="" [(ngModel)]="item.serviceauthusername">
            </td>
        </tr>
        <tr>
            <td>serviceauthlogin</td>
            <td>
                <input type="text" name="" id="" [(ngModel)]="item.serviceauthlogin">
            </td>
        </tr>
        <tr>
            <td>serviceauthpassword</td>
            <td>
                <input type="text" name="" id="" [(ngModel)]="item.serviceauthpassword">
            </td>
        </tr>
        <tr>
            <td>serviceauthforgotpassword</td>
            <td>
                <input type="number" name="" id="" [(ngModel)]="item.serviceauthforgotpassword">
            </td>
        </tr>
        <tr>
            <td>serviceauthresetpassword</td>
            <td>
                <input type="text" name="" id="" [(ngModel)]="item.serviceauthresetpassword">
            </td>
        </tr>
        <tr>
            <td colspan=1></td>
            <button on-click="Search()">Update</button>
        </tr>
    </table>
</div>

