<div style="margin-top: 30px;">
    <table>
        <th>enter Admin details </th>
        <tr>
            <td>AdminUsername</td>
            <td>
                <input type="text" name="" id="" [(ngModel)]="item.adminusername">
            </td>
        </tr>
        <tr>
            <td>AdminpPassword</td>
            <td>
                <input type="text" name="" id="" [(ngModel)]="item.adminpassword">
            </td>
        </tr>
        <tr>
            <td>AdminArea</td>
            <td>
                <input type="text" name="" id="" [(ngModel)]="item.adminarea">
            </td>
        </tr>
        <tr>
            <td>AdminCity</td>
            <td>
                <input type="text" name="" id="" [(ngModel)]="item.admincity">
            </td>
        </tr>
        <tr>
            <td>AdminPincode</td>
            <td>
                <input type="number" name="" id="" [(ngModel)]="item.adminpincode">
            </td>
        </tr>
        <tr>
            <td colspan=1></td>
            <button on-click="Edit()">Update</button>
        </tr>
    </table>
</div>