
<div class="container" style="margin-top:20px">
    <table border="1">
        <th>Enter below details to add ServiceAuthentication:</th>
        <br>
        <br>
                <tr >
            <td>Id</td>
            <td> <input type="number" name="" id="" [(ngModel)]="item.serviceid"> </td>
        </tr>
        <tr>
            <td>ServiceAuthLogin</td>
            <td> <input type="text" name="" id="" [(ngModel)]="item.serviceauthlogin"> </td>
        </tr>
        <tr> 
            <td>ServiceAuthUsername</td>
            <td> <input type="text" name="" id="" [(ngModel)]="item.serviceauthusername"> </td>
        </tr>
        <tr>
            <td>ServiceAuthPassword</td>
            <td> <input type="text" name="" id="" [(ngModel)]="item.serviceauthpassword"> </td>
        </tr>
        <tr>
            <td>ServiceAuthForgotPassword</td>
            <td> <input type="text" name="" id="" [(ngModel)]="item.serviceauthforgotpassword"> </td>
        </tr>
        <tr>
            <td>ServiceAuthResetPassword</td>
            <td> <input type="text" name="" id="" [(ngModel)]="item.serviceauthresetpassword"> </td>
        </tr>
        <tr>
            <td colspan="2">
                <button on-click="Save()">Save</button>     
            
            
        </tr>
    </table>
</div>
