<div style="margin-top: 30px;">
    <table>
        <th>Enter Service_Booking Details</th>
       <tr>
            <td>Service_ID</td>
            <td>
                <input type="number" name="" id="" [(ngModel)]="item.serviceid">
            </td>
        </tr>
           <tr>
            <td>Service_ItemNum</td>
            <td>
                <input type="number" name="" id="" [(ngModel)]="item.serviceitemnum">
            </td>
        </tr>
        <tr>
            <td>Address</td>
            <td>
                <input type="number" name="" id="" [(ngModel)]="item.servicebookingaddress">
            </td>
        </tr>
        <tr>
            <td>Date</td>
            <td>
                <input type="number" name="" id="" [(ngModel)]="item.servicebookingdate">
            </td>
        </tr>
        <tr>
            <td>ContactNum</td>
            <td>
                <input type="number" name="" id="" [(ngModel)]="item.servicecontactnum">
            </td>
        </tr>
        <tr>
            <td>Payment</td>
            <td>
                <input type="number" name="" id="" [(ngModel)]="item.servicepaymenttype">
            </td>
        </tr>
        <tr>
            <td colspan=1></td>
            <button on-click="Edit()">Update</button>
        </tr>
    </table>
</div>