<div style="margin-top: 30px;">
    <table>
        <th>Enter ServiceOwner details </th>
        <tr>
            <td>ServiceOwnerID</td>
            <td>
                
                <input type="number" name="" id="" [(ngModel)]="item.id">
            </td>
        </tr>
        <tr>
            <td>ServiceOwnerName</td>
            <td>
                <input type="text" name="" id="" [(ngModel)]="item.serviceOwner">
            </td>
        </tr>
        <tr>
            <td>EnterprisesName</td>
            <td>
                <input type="text" name="" id="" [(ngModel)]="item.enterprisesName">
            </td>
        </tr>
        <tr>
            <td>OwnerContact</td>
            <td>
                <input type="number" name="" id="" [(ngModel)]="item.ownerContact">
            </td>
        </tr>
        <tr>
            <td>Address</td>
            <td>
                <input type="text" name="" id="" [(ngModel)]="item.address">
            </td>
        </tr>
        <tr>
            <td colspan=1></td>
            <button on-click="Edit()">Update</button>
        </tr>
    </table>
</div>