<div class="container" style="margin-top:20px">
    <table border="1">
        <th>Enter below details to add ServiceCategories:</th>
        <br>
        <br>
                <tr >
            <td>Id</td>
            <td> <input type="number" name="" id="" [(ngModel)]="item.serviceid"> </td>
        </tr>
        <tr>
            <td>ServiceMail</td>
            <td> <input type="text" name="" id="" [(ngModel)]="item.servicemail"> </td>
        </tr>
        <tr> 
            <td>Servicetype</td>
            <td> <input type="text" name="" id="" [(ngModel)]="item.servicetype"> </td>
        </tr>
        <tr>
            <td>ServiceContactNum</td>
            <td> <input type="number" name="" id="" [(ngModel)]="item.servicecontactnum"> </td>
        </tr>
        <tr>
            <td>ServiceAddress</td>
            <td> <input type="text" name="" id="" [(ngModel)]="item.serviceAddress"> </td>
        </tr>
    </table>
</div>